---
http_interactions:
- request:
    method: get
    uri: http://api-product.skimlinks.com/categories?format=json&key=foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"b21cf559fed23eac7f7609baa9e59019ee3c3750"'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1351703595'
    body:
      encoding: US-ASCII
      string: ! '{"skimlinksProductAPI": {"status": 200, "message": "OK", "version":
        3, "categories": {"1867": "Hardware > Tool Accessories > Drill Accessories
        > Drill Bits", "593": "Arts & Entertainment > Musical Instrument Accessories
        > Woodwind Instrument Accessories > Oboe Accessories > Oboe Care & Cleaning",
        "2031": "Hardware > Tools > Pliers", "1200": "Electronics > Electronics Accessories
        > Cables > Data Transfer Cables", "1866": "Hardware > Tool Accessories > Drill
        Accessories", "4026": "Sporting Goods > Team Sports > Beach Volleyball > Beach
    [...]
- request:
    method: get
    uri: http://api-product.skimlinks.com/categories?format=xml&key=foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      Etag:
      - ! '"36efd57a700a2eacad03898463a79ad6ae360fc0"'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1351756560'
    body:
      encoding: A[...]
